<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<html lang="en" ng-app="myApp" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Games on paper</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link href="bower_components/bootstrap-fileinput/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="registration/registration.css">
  <link rel="stylesheet" href="dashboard/dashboard.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap-fileinput/js/fileinput.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Games on paper</a>
      </div>
      <ul class="nav navbar-nav" ng-if="user">
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create game</a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Invite user to play</li>
            <li ng-repeat="gameToBeCreated in gamesToBeCreated"><a href="#">{{gameToBeCreated}}</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Invitations <span class="badge">5</span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Incoming invitations</li>
            <li ng-repeat="incomingInvitation in incomingInvitations">
              <a href="#">
                <img ng-src="{{incomingInvitation.userPic}}" class="img-circle" width="50" height="50"/>
                {{incomingInvitation.userName}} invited you to play {{incomingInvitation.gameName}}!
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
              </a>
            </li>
            <li class="divider"></li>
            <li class="dropdown-header">Outgoing invitations</li>
            <li ng-repeat="outgoingInvitation in outgoingInvitations">
              <a href="#">
                <img ng-src="{{outgoingInvitation.userPic}}" class="img-circle" width="50" height="50"/>
                {{outgoingInvitation.userName}} invited to play {{outgoingInvitation.gameName}} with you!
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Active Games <span class="badge">5</span></a>
          <ul class="dropdown-menu">
            <li ng-repeat-start="(key, games) in activeGames | groupBy: 'gameName'" class="dropdown-header">{{key}}</li>
            <li ng-repeat="activeGame in games">
              <a href="#">
                <img ng-src="{{activeGame.userPic}}" class="img-circle" width="50" height="50"/>
                {{activeGame.userName}} <label class="label" ng-class="{'label-default': activeGame.yourScore==activeGame.opponentScore, 'label-success': activeGame.yourScore>activeGame.opponentScore, 'label-danger': activeGame.yourScore<activeGame.opponentScore}">{{activeGame.yourScore}}:{{activeGame.opponentScore}}</label>
                <button type="button" class="btn btn-default" ng-if="!activeGame.finishedBy"><span class="glyphicon glyphicon-remove"></span> Finish</button>
                <span ng-if="activeGame.finishedBy && activeGame.finishedBy!=user.username">
                  {{activeGame.finishedBy}} wants to finish the game. Do you agree?
                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>
                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
                </span>
                <span ng-if="activeGame.finishedBy && activeGame.finishedBy==user.username">
                  You want to finish the game. Waiting for opponent decision.
                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
                </span>
              </a>
            </li>
            <li ng-repeat-end class="divider" ng-show="{{!$last}}"></li>
          </ul>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Finished Games <span class="badge">5</span></a>
          <ul class="dropdown-menu">
            <li ng-repeat-start="(key, games) in finishedGames | groupBy: 'gameName'" class="dropdown-header">{{key}}</li>
            <li ng-repeat="finishedGame in games">
              <a href="#">
                <img ng-src="{{finishedGame.userPic}}" class="img-circle" width="50" height="50"/>
                {{finishedGame.userName}} <label class="label" ng-class="{'label-default': finishedGame.yourScore==finishedGame.opponentScore, 'label-success': finishedGame.yourScore>finishedGame.opponentScore, 'label-danger': finishedGame.yourScore<finishedGame.opponentScore}">{{finishedGame.yourScore}}:{{finishedGame.opponentScore}}</label> @ {{finishedGame.endDate | date:'yyyy-MM-dd HH:mm:ss Z'}}
              </a>
            </li>
            <li ng-repeat-end class="divider"></li>
            <li><a href="#">Show more</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-if="user">
        <li><a class="navbar-brand"><strong><span><img class="img-circle" width="24" height="24" ng-src="{{user.avatar}}"/></span> {{user.username}}</strong></a></li>
        <li><a href="#/login" class="navbar-brand"><strong><span class="glyphicon glyphicon-log-out"></span> Logout</strong></a></li>
      </ul>
    </div>
  </nav>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://brnowsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="container">
    <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
    <div class="col-sm-9 container">
    <div ng-view></div></div>
    <div class="col-sm-3 container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">TOP-100</h3>
        </div>
        <div class="panel-body">
          <p>Here is a list of top 100 most successful players:</p>
        </div>
        <!-- Table -->
        <table class="table">
          <tr>
            <th>#</th>
            <th>User</th>
          </tr>
          <tr ng-repeat="top100Player in top100Players">
            <td>{{$index+1}}</td>
            <td><img ng-src="{{top100Player.userPic}}" class="img-circle" width="50" height="50"/> {{top100Player.userName}}</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><a href="#">Show more</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
  <script src="bower_components/ngstorage/ngStorage.js"></script>
  <script src="bower_components/socket.io-client/socket.io.js"></script>
  <script src="bower_components/angular-socket-io/socket.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/masonry/dist/masonry.pkgd.min.js"></script>
  <script src="app.js"></script>
  <script src="services/services.js"></script>
  <script src="registration/registration.js"></script>
  <script src="login/login.js"></script>
  <script src="dashboard/dashboard.js"></script>
  <script src="gameTicTacToe/gameTicTacToe.js"></script>
  <script src="gameDots/gameDots.js"></script>
  <script src="gameChat/gameChat.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
